.feina-contingut {
  width: 95%;
  min-height: 600px;
  margin: 60px 2.5%;
  background-color: antiquewhite;
  -webkit-box-shadow: 0px 4px 6px #333333;
  -moz-box-shadow: 0px 4px 6px #333333;
  box-shadow: 0px 4px 6px #333333; }
  .feina-contingut .feina-sub {
    width: 50%;
    min-height: 600px;
    float: left;
    position: relative; }
    .feina-contingut .feina-sub .feina-sub-titol {
      background-color: yellowgreen;
      display: block;
      margin: 0;
      padding: 5px 0;
      text-indent: 10px;
      width: 100%;
      font-size: 14pt;
      border-bottom: 1px solid yellowgreen; }
      .feina-contingut .feina-sub .feina-sub-titol b {
        color: ivory;
        float: right;
        margin-right: 20px;
        font-size: 12pt;
        margin-top: 2px; }

.feina-sub.sub1 {
  background-image: url(../images/corner1.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: left bottom; }

.rellotge {
  width: 462px;
  height: 80px;
  background-color: #f7e0c0;
  margin: 10px 70px 20px;
  position: relative;
  overflow: auto; }
  .rellotge label {
    float: left;
    width: 20px;
    height: 17px;
    font-size: 10pt;
    padding-top: 3px;
    margin: 5px 0 0 5px;
    display: block;
    text-align: center;
    line-height: 15px;
    color: ivory;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-clip: padding-box; }
  .rellotge .segons-label {
    background-color: yellowgreen; }
  .rellotge .minuts-label {
    background-color: darkred; }
  .rellotge .hores-label {
    background-color: steelblue; }
  .rellotge .agulla {
    width: 428px;
    height: 20px;
    float: left;
    margin: 5px 0 0;
    position: relative;
    border-right: 5px solid yellowgreen;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box; }
    .rellotge .agulla .tick {
      position: absolute;
      height: 18px;
      width: 6px;
      background-color: yellowgreen;
      top: 1px;
      opacity: .3; }
    .rellotge .agulla .min {
      background-color: darkred; }
    .rellotge .agulla .hor {
      background-color: steelblue; }
    .rellotge .agulla .end {
      position: absolute;
      width: 5px;
      background-color: yellowgreen;
      height: 20px;
      top: 0;
      left: 7px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      background-clip: padding-box; }
  .rellotge .minuts {
    border-color: darkred; }
    .rellotge .minuts .end {
      background-color: darkred; }
  .rellotge .hores {
    border-color: steelblue; }
    .rellotge .hores .end {
      background-color: steelblue; }

#nova-feina input {
  text-align: center;
  -webkit-appearance: none;
  font-size: 13pt;
  box-shadow: none;
  border: none; }
#nova-feina .data {
  width: 120px;
  margin: 20px auto;
  display: block; }
#nova-feina textarea {
  width: 80%;
  height: 150px;
  border: none;
  margin: 50px auto 0;
  padding: 0 10px;
  font-size: 12pt;
  line-height: 25px;
  display: block;
  resize: none;
  background-image: -webkit-linear-gradient(antiquewhite 95%, #adadad 100%);
  background-repeat: repeat-y;
  background-size: 100% 25px;
  background-position: 0 0; }
  #nova-feina textarea::-webkit-input-placeholder {
    color: darkred; }
#nova-feina .time {
  width: 128px;
  display: block;
  margin: 20px auto 0; }
  #nova-feina .time label {
    font-size: 20pt;
    color: #c0c0c0; }
  #nova-feina .time input {
    width: 30px;
    font-size: 20pt;
    background-color: transparent;
    color: #b0b0b0; }
#nova-feina .time.running label, #nova-feina .time.running input {
  color: #a4d247; }
#nova-feina .time.paused label, #nova-feina .time.paused input {
  color: #be0000; }
#nova-feina .timer-button {
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
  float: left;
  border: 1px solid rgba(154, 205, 50, 0.8);
  background-color: rgba(154, 205, 50, 0.1);
  color: #8bb92d;
  margin-bottom: 60px;
  cursor: pointer;
  opacity: .5;
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-clip: padding-box; }
  #nova-feina .timer-button:focus {
    outline: 0; }
  #nova-feina .timer-button:hover {
    opacity: 1; }
#nova-feina .timer-button#stop {
  border-color: rgba(139, 0, 0, 0.3);
  background-color: rgba(139, 0, 0, 0.1);
  color: darkred;
  margin-left: 30px;
  background-image: url(../images/pause.png); }
#nova-feina .timer-button#start {
  margin-left: 250px; }
#nova-feina .timer-button.reset#stop {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  color: #666;
  background-image: url(../images/stop.png); }
#nova-feina .boto-form {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  margin: 50px auto 0;
  display: block;
  border: 1px solid rgba(70, 130, 180, 0.5);
  color: steelblue;
  font-size: 12pt;
  background-color: rgba(70, 130, 180, 0.1);
  background-image: url(../images/save.png);
  opacity: .5;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: auto 35px;
  background-position: center 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-clip: padding-box; }
  #nova-feina .boto-form:hover {
    opacity: 1; }

.feina-sub.sub2 {
  position: relative; }
  .feina-sub.sub2 .feina-sub-titol {
    color: yellowgreen;
    background-color: transparent; }
  .feina-sub.sub2 .fixedtable {
    width: 90%;
    min-height: 0;
    height: 540px;
    overflow-y: scroll;
    position: relative;
    margin: 10px auto;
    position: relative; }
    .feina-sub.sub2 .fixedtable .scrollbody {
      height: 90%;
      overflow-y: scroll; }
    .feina-sub.sub2 .fixedtable table {
      width: 100%;
      border-collapse: collapse; }
      .feina-sub.sub2 .fixedtable table td {
        height: 40px;
        border-bottom: 1px solid #e0e0e0;
        border-top: none;
        vertical-align: bottom;
        font-size: 13pt;
        text-align: center;
        color: #999; }
      .feina-sub.sub2 .fixedtable table .data {
        width: 200px; }
      .feina-sub.sub2 .fixedtable table .comen {
        width: 80px;
        color: transparent;
        overflow: hidden; }
        .feina-sub.sub2 .fixedtable table .comen p {
          display: none; }
        .feina-sub.sub2 .fixedtable table .comen .coment-icon {
          display: block;
          width: 30px;
          height: 30px;
          cursor: pointer;
          background-image: url(../images/comment-green.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: 0 0; }
      .feina-sub.sub2 .fixedtable table .seleccionada td {
        color: #8db3d3; }
      .feina-sub.sub2 .fixedtable table .seleccionada .comen .coment-icon {
        background-image: url(../images/comment-blue.png); }
      .feina-sub.sub2 .fixedtable table .no-comen .coment-icon {
        background-image: url(../images/comment-red.png); }
  .feina-sub.sub2 .total {
    position: fixed;
    bottom: 50px;
    width: 550px; }
    .feina-sub.sub2 .total table {
      width: 100%; }
    .feina-sub.sub2 .total table td {
      color: #666;
      border-top: 1px solid #d0d0d0;
      border-bottom: none;
      vertical-align: middle;
      height: 65px; }
    .feina-sub.sub2 .total table .comen {
      background-color: transparent;
      width: 80px; }
      .feina-sub.sub2 .total table .comen .coment-icon-blank, .feina-sub.sub2 .total table .comen .coment-icon-green, .feina-sub.sub2 .total table .comen .coment-icon-red {
        display: block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0 0; }
      .feina-sub.sub2 .total table .comen .coment-icon-blank {
        background-image: url(../images/comment-blank.png); }
      .feina-sub.sub2 .total table .comen .coment-icon-green {
        background-image: url(../images/comment-green.png); }
      .feina-sub.sub2 .total table .comen .coment-icon-red {
        background-image: url(../images/comment-red.png); }
  .feina-sub.sub2 .popupcomment {
    position: absolute;
    width: 400px;
    height: 125px;
    background-color: ivory;
    top: 180px;
    left: 60px;
    display: none;
    padding: 10px;
    border-top: 5px solid yellowgreen;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0px 2px 3px #555555;
    -moz-box-shadow: 0px 2px 3px #555555;
    box-shadow: 0px 2px 3px #555555; }

#novaSessioButton {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  width: 50px;
  height: 50px; }

#novaSessioDiv {
  position: absolute;
  top: 90px;
  width: 570px;
  left: 50px;
  height: 380px;
  padding-top: 20px;
  background-color: #f7e0c0;
  border-bottom: 25px solid rgba(154, 205, 50, 0.5);
  display: none; }
  #novaSessioDiv .dadaform {
    width: 50%;
    float: left;
    display: block;
    height: 80px; }
    #novaSessioDiv .dadaform input {
      text-align: center;
      font-size: 13pt;
      border: none;
      margin: 0 auto;
      display: block;
      height: 25px;
      background-color: #f1c993;
      color: darkred; }
    #novaSessioDiv .dadaform label {
      display: block;
      text-align: center;
      margin: 10px 0px 5px 0px; }
  #novaSessioDiv .durada {
    width: 30%;
    clear: both;
    float: right;
    display: block;
    height: 100px;
    margin: 0 50px 0 0; }
    #novaSessioDiv .durada label {
      display: inline;
      margin-right: 10px; }
    #novaSessioDiv .durada input {
      width: 20px;
      display: inline; }
    #novaSessioDiv .durada .sublabel {
      display: inline;
      margin: 0;
      margin-right: 5px; }
  #novaSessioDiv textarea {
    width: 80%;
    height: 150px;
    border: none;
    margin: 50px auto 0;
    padding: 0 10px;
    font-size: 12pt;
    line-height: 25px;
    display: block;
    resize: none;
    background-image: -webkit-linear-gradient(#f7e0c0 95%, #adadad 100%);
    background-repeat: repeat-y;
    background-size: 100% 25px;
    background-position: 0 0; }
    #novaSessioDiv textarea::-webkit-input-placeholder {
      color: darkred; }
