* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

html {
  min-height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

body {
  overflow: auto;
  background-image: url(../images/cork.jpg);
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: 0 0; }

.button {
  width: 23px;
  height: 23px;
  background-color: black;
  border: 2px solid darkred;
  color: darkred;
  display: block;
  text-align: center;
  line-height: 18px;
  font-size: 23pt;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-clip: padding-box; }

.menu-superior {
  width: 100%;
  height: 35px;
  background-color: black;
  border-bottom: 5px solid darkred;
  position: fixed;
  top: 0;
  z-index: 10; }
  .menu-superior .titol-projecte {
    color: ivory;
    line-height: 35px;
    margin: 0 0 0 40px;
    font-size: 14pt;
    font-weight: 100;
    letter-spacing: 1pt;
    width: 150px;
    display: block;
    text-decoration: none; }
  .menu-superior .fletxa {
    position: absolute;
    top: 12px;
    left: 10px; }
  .menu-superior .selector {
    display: none;
    position: relative;
    margin-top: 5px;
    margin-left: 40px; }
    .menu-superior .selector li {
      width: 140px;
      padding: 10px 0 10px 10px;
      background-color: #c0c0c0;
      border-bottom: 1px solid #999;
      z-index: 2; }
      .menu-superior .selector li a {
        text-decoration: none;
        color: black;
        width: 100%;
        height: 100%;
        display: block; }
      .menu-superior .selector li:hover {
        background-color: #999; }
        .menu-superior .selector li:hover a {
          color: ivory; }
  .menu-superior #nova-feina {
    position: absolute;
    right: 15px;
    top: 4px;
    text-decoration: none; }

.tasques {
  width: 900px;
  float: left;
  margin: 50px 0 50px 20px;
  z-index: 1;
  position: relative;
  transition: all 1s ease;
  z-index: 1; }
  @media only screen and (max-width: 1200px) {
    .tasques {
      width: 700px; } }
  @media only screen and (max-width: 1000px) {
    .tasques {
      width: 450px; } }
  @media only screen and (max-width: 800px) {
    .tasques {
      width: 60%;
      margin: 35px 0 0 0; } }
  @media only screen and (max-width: 500px) {
    .tasques {
      width: 100%;
      height: 45%;
      overflow-y: scroll;
      position: fixed; } }
  .tasques .tasca {
    float: left;
    position: relative;
    width: 200px;
    height: 129px;
    margin: 10px;
    margin-right: 5px;
    background-color: ANTIQUEWHITE;
    background-image: -webkit-linear-gradient(antiquewhite 96%, #adadad 100%);
    background-repeat: repeat-y;
    background-size: 100% 20px;
    background-position: 0 -11px;
    user-select: none;
    z-index: 1;
    overflow: hidden;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-clip: padding-box;
    -webkit-box-shadow: 1px 3px 6px #555555;
    -moz-box-shadow: 1px 3px 6px #555555;
    box-shadow: 1px 3px 6px #555555; }
    @media only screen and (max-width: 800px) {
      .tasques .tasca {
        width: 100%;
        margin: 0px 0 0 0;
        height: 40px;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid #cfcfcf; } }
    .tasques .tasca .tasca-titol {
      display: block;
      margin-bottom: 5px;
      width: 96%;
      padding: 5px 2%;
      background-color: antiquewhite;
      border-bottom: 2px solid darkred;
      user-select: none;
      cursor: pointer; }
      @media only screen and (max-width: 800px) {
        .tasques .tasca .tasca-titol {
          height: 30px;
          line-height: 30px; } }
    .tasques .tasca .tasca-descr {
      font-size: 10pt;
      text-align: left;
      line-height: 15pt;
      margin: 0px 5px 5px;
      user-select: none; }
      @media only screen and (max-width: 800px) {
        .tasques .tasca .tasca-descr {
          display: none; } }
    .tasques .tasca .tasca-data {
      position: absolute;
      bottom: 8px;
      right: 8px;
      line-height: 25px;
      width: 25px;
      height: 25px;
      font-size: 12pt;
      font-weight: normal;
      text-align: center;
      border: 1px solid rgba(139, 0, 0, 0.8);
      background-color: rgba(139, 0, 0, 0.1);
      color: darkred;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      background-clip: padding-box; }
  .tasques .seleccionada {
    outline: 5px solid rgba(70, 130, 180, 0.8); }
  .tasques .Acabada .tasca-titol {
    text-decoration: line-through;
    color: darkred; }
  .tasques .Inactiva {
    opacity: .7; }
  .tasques .urgent .tasca-titol {
    background-color: rgba(154, 205, 50, 0.8);
    border-bottom-color: #5c7b1e; }
  .tasques .molturgent .tasca-titol {
    background-color: rgba(255, 165, 0, 0.8);
    border-bottom-color: #cc8400; }

.tasques.feina-hidden {
  width: 1100px; }
  @media only screen and (max-width: 1200px) {
    .tasques.feina-hidden {
      width: 900px; } }
  @media only screen and (max-width: 1000px) {
    .tasques.feina-hidden {
      width: 650px; } }
  @media only screen and (max-width: 800px) {
    .tasques.feina-hidden {
      width: 60%;
      margin: 35px 0 0 0; } }
  @media only screen and (max-width: 500px) {
    .tasques.feina-hidden {
      width: 100%;
      height: 100%; } }

.feina {
  float: right;
  width: 300px;
  margin: 60px 0 50px 0;
  padding: 0;
  background-color: #f4d4aa;
  min-height: 525px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
  z-index: 1;
  transition: all 1s ease;
  -webkit-box-shadow: 1px 3px 6px #555555;
  -moz-box-shadow: 1px 3px 6px #555555;
  box-shadow: 1px 3px 6px #555555; }
  @media only screen and (max-width: 800px) {
    .feina {
      width: 40%;
      margin: 35px 0 0;
      min-height: 100%;
      height: 1000px;
      position: fixed;
      right: 0; } }
  @media only screen and (max-width: 500px) {
    .feina {
      height: 50%;
      min-height: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      margin: 0;
      right: auto; } }
  .feina * {
    display: block;
    transition: width 1s ease; }
  .feina input, .feina label, .feina select {
    width: 100%; }
  .feina #feina-sidebar {
    height: 525px;
    width: 30px;
    background-color: steelblue;
    float: left;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    opacity: .8;
    cursor: pointer; }
    @media only screen and (max-width: 800px) {
      .feina #feina-sidebar {
        height: 100%; } }
    @media only screen and (max-width: 500px) {
      .feina #feina-sidebar {
        height: 20px;
        width: 100%;
        float: none;
        display: block; } }
    .feina #feina-sidebar:hover {
      opacity: 1; }
  .feina form {
    width: 220px;
    float: right;
    margin-right: 25px;
    margin-top: 5px; }
    @media only screen and (max-width: 800px) {
      .feina form {
        margin-top: 10px; } }
    @media only screen and (max-width: 500px) {
      .feina form {
        width: 90%;
        float: none;
        margin: 0 auto;
        position: relative; } }
  .feina .feina-titol {
    width: 100%;
    box-sizing: border-box;
    font-size: 18pt;
    font-family: helvetica;
    font-weight: 100;
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid darkred;
    text-indent: 5px; }
    .feina .feina-titol::-webkit-input-placeholder {
      color: black; }
  .feina .feina-descr {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: 20px 0;
    background-color: #efbe7c;
    border: none;
    font-size: 12pt;
    font-weight: 100;
    resize: none;
    text-indent: 5px; }
    .feina .feina-descr::-webkit-input-placeholder {
      color: darkred; }
  .feina label {
    font-weight: 100;
    display: block;
    font-size: 13pt;
    color: black; }
    @media only screen and (max-width: 500px) {
      .feina label {
        width: 45%;
        display: inline-block; } }
  .feina select {
    -webkit-appearance: none;
    width: 100%;
    font-size: 13pt;
    font-weight: 100;
    min-height: 30px;
    text-indent: 5px;
    background-color: #efbe7c;
    margin-bottom: 15px;
    border-radius: 0;
    border: none;
    background-image: url(../images/dropdown.png);
    color: darkred;
    background-repeat: no-repeat;
    background-size: 15px 12px;
    background-position: 190px center; }
    @media only screen and (max-width: 500px) {
      .feina select {
        width: 45%;
        background-position: 90% center;
        float: left; } }
  .feina .floater {
    text-align: center;
    margin-top: 20px;
    line-height: 25px; }
  .feina #datalimit {
    width: 100%;
    height: 30px;
    margin: 0 0 20px 0px;
    font-size: 12pt;
    text-align: center;
    background-color: #efbe7c;
    border: none; }
  .feina .buttonform {
    width: 50px;
    height: 50px;
    -webkit-appearance: none;
    border: none;
    color: yellowgreen;
    font-size: 40px;
    line-height: 0px;
    padding: 0;
    border: 1px solid rgba(70, 130, 180, 0.8);
    background-color: rgba(70, 130, 180, 0.1);
    cursor: pointer;
    opacity: .6;
    background-image: url(../images/save.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-clip: padding-box; }
    .feina .buttonform:hover {
      opacity: 1; }
  .feina .one {
    margin: 0px 0 0 80px; }
  .feina .two-one {
    margin-left: 40px;
    float: left;
    background-image: url(../images/update.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center center; }
  .feina .two-two {
    margin-top: 0px;
    margin-right: 40px;
    float: right;
    border: 1px solid rgba(139, 0, 0, 0.5);
    background-color: rgba(139, 0, 0, 0.1);
    background-image: url(../images/bin-red.png);
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center center; }

.feina.hidden {
  width: 35px;
  overflow: hidden; }
  @media only screen and (max-width: 800px) {
    .feina.hidden {
      width: 40%;
      margin: 35px 0 0;
      min-height: 100%;
      height: 1000px;
      position: fixed;
      right: 0; } }
  @media only screen and (max-width: 500px) {
    .feina.hidden {
      width: 100%;
      margin: 0;
      bottom: 30px;
      height: 30px;
      min-height: 0; } }
  .feina.hidden * {
    display: none;
    transition: width 1s ease; }
    @media only screen and (max-width: 800px) {
      .feina.hidden * {
        display: block; } }
  .feina.hidden #feina-sidebar {
    display: block;
    width: 30px; }
    @media only screen and (max-width: 500px) {
      .feina.hidden #feina-sidebar {
        height: 20px;
        width: 100%;
        float: none;
        display: block; } }

.filtres {
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #f4d4aa;
  -webkit-box-shadow: 0 -1px 10px #555555;
  -moz-box-shadow: 0 -1px 10px #555555;
  box-shadow: 0 -1px 10px #555555; }
  .filtres label {
    color: black;
    line-height: 30px;
    font-weight: 100;
    margin-left: 22px;
    margin-right: 0px;
    font-size: 11pt;
    display: block;
    float: left; }
    .filtres label:hover {
      text-decoration: underline; }
  .filtres input {
    float: left; }
  .filtres #filtres {
    width: 100%;
    height: 30px; }
  .filtres .exclusiva {
    text-decoration: underline; }
  .filtres .checker {
    width: 16px;
    height: 16px;
    position: relative;
    float: left; }
    .filtres .checker label {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 8px;
      left: 8px;
      display: block;
      margin: 0;
      cursor: pointer;
      border: 1px solid rgba(139, 0, 0, 0.4);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      background-clip: padding-box; }
      .filtres .checker label:after {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        content: '';
        width: 15px;
        height: 15px;
        color: yellowgreen;
        background-image: url(../images/tick-red.png);
        background-repeat: no-repeat;
        background-size: 80% 80%;
        background-position: center center; }
    .filtres .checker input {
      display: none; }
    .filtres .checker input[type="checkbox"]:checked + label:after {
      opacity: 1; }
    .filtres .checker .unchecked:after {
      opacity: .3; }
  .filtres .checker-subs label {
    border-color: rgba(255, 69, 0, 0.5); }
    .filtres .checker-subs label:after {
      background-image: url(../images/tick-orange.png); }
  .filtres .checker-est label {
    border-color: rgba(70, 130, 180, 0.7); }
    .filtres .checker-est label:after {
      background-image: url(../images/tick-blue.png); }

[draggable=true] {
  -khtml-user-drag: element; }

#paperera {
  position: fixed;
  bottom: 44px;
  left: 30px;
  width: 40px;
  height: 80px;
  z-index: 2000;
  background-image: url(../images/bin.png);
  background-repeat: no-repeat;
  background-size: 100% 50px;
  background-position: center bottom; }
  #paperera:hover {
    background-image: url(../images/bin-open.png); }
