.projecte-contingut {
  width: 95%; }
  .projecte-contingut .sub1 {
    width: 100%;
    background-image: none; }
    .projecte-contingut .sub1:after {
      content: '';
      display: block;
      clear: both; }
    .projecte-contingut .sub1 .feina-sub-titol {
      background-color: steelblue;
      border-color: steelblue; }
  .projecte-contingut .estadistiques {
    width: 470px;
    height: 480px;
    float: right;
    margin: 40px 60px 40px 0; }
    .projecte-contingut .estadistiques .estad {
      margin: 10px 10px 0 10px;
      width: 450px;
      height: 50px; }
      .projecte-contingut .estadistiques .estad:after {
        content: '';
        display: block;
        clear: both; }
      .projecte-contingut .estadistiques .estad label {
        margin-bottom: 2px;
        float: left;
        display: block; }
      .projecte-contingut .estadistiques .estad input {
        -webkit-appearance: none;
        border: none;
        background-color: transparent;
        font-size: 12pt;
        width: 25px;
        text-align: center;
        display: none; }
      .projecte-contingut .estadistiques .estad .nolabel {
        float: right;
        color: #d0d0d0;
        font-size: 10pt; }
      .projecte-contingut .estadistiques .estad .barra {
        clear: both;
        display: block;
        width: 100%;
        height: 30px;
        background-color: #f7e0c0;
        position: relative;
        border-left: 5px solid rgba(154, 205, 50, 0.8);
        border-right: 5px solid rgba(154, 205, 50, 0.8); }
        .projecte-contingut .estadistiques .estad .barra .tick {
          position: absolute;
          display: block;
          background-color: rgba(154, 205, 50, 0.3);
          height: 20px;
          top: 5px;
          width: 7px;
          margin-left: 2px; }
        .projecte-contingut .estadistiques .estad .barra .end {
          position: absolute;
          display: block;
          background-color: rgba(154, 205, 50, 0.8);
          height: 28px;
          top: 1px;
          width: 8px;
          left: 2px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          background-clip: padding-box; }
        .projecte-contingut .estadistiques .estad .barra .percent {
          position: absolute;
          display: block;
          color: rgba(154, 205, 50, 0.8);
          top: 8px;
          left: 20px; }
        .projecte-contingut .estadistiques .estad .barra .percent.complet {
          width: 22px;
          height: 22px;
          top: 4px;
          margin-left: -6px;
          color: transparent;
          border: 1px solid rgba(154, 205, 50, 0.8);
          background-image: url(../images/tick.png);
          background-repeat: no-repeat;
          background-size: 16px 16px;
          background-position: center center;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          background-clip: padding-box; }
    .projecte-contingut .estadistiques .estad.interval2 .barra {
      border-color: #e6c200; }
    .projecte-contingut .estadistiques .estad.interval2 .tick {
      background-color: rgba(230, 194, 0, 0.3); }
    .projecte-contingut .estadistiques .estad.interval2 .end {
      background-color: rgba(230, 194, 0, 0.8); }
    .projecte-contingut .estadistiques .estad.interval2 .percent {
      color: #ccac00; }
    .projecte-contingut .estadistiques .estad.interval1 .barra {
      border-color: coral; }
    .projecte-contingut .estadistiques .estad.interval1 .tick {
      background-color: rgba(255, 127, 80, 0.3); }
    .projecte-contingut .estadistiques .estad.interval1 .end {
      background-color: rgba(255, 127, 80, 0.8); }
    .projecte-contingut .estadistiques .estad.interval1 .percent {
      color: coral; }
    .projecte-contingut .estadistiques .estad.interval0 .barra {
      border-color: rgba(139, 0, 0, 0.8); }
    .projecte-contingut .estadistiques .estad.interval0 .tick {
      background-color: rgba(139, 0, 0, 0.3); }
    .projecte-contingut .estadistiques .estad.interval0 .end {
      background-color: rgba(139, 0, 0, 0.8); }
    .projecte-contingut .estadistiques .estad.interval0 .percent {
      color: rgba(139, 0, 0, 0.8); }
    .projecte-contingut .estadistiques .estad.total {
      margin-top: 150px; }
      .projecte-contingut .estadistiques .estad.total label {
        display: block;
        margin: 5px 0;
        font-size: 13pt;
        color: steelblue; }
      .projecte-contingut .estadistiques .estad.total .barra {
        border-color: rgba(70, 130, 180, 0.8); }
        .projecte-contingut .estadistiques .estad.total .barra .tick {
          background-color: rgba(70, 130, 180, 0.4); }
        .projecte-contingut .estadistiques .estad.total .barra .percent {
          color: steelblue; }
        .projecte-contingut .estadistiques .estad.total .barra .end {
          background-color: steelblue; }
  .projecte-contingut .bloc {
    width: 600px;
    float: left;
    height: 100%; }
    .projecte-contingut .bloc .dadaproject {
      margin: 40px 0 60px 20px;
      float: left;
      width: 150px; }
      .projecte-contingut .bloc .dadaproject label {
        color: #c0c0c0;
        text-align: center;
        display: block;
        padding: 5px 0; }
      .projecte-contingut .bloc .dadaproject span {
        font-size: 14pt;
        display: block;
        text-align: center;
        width: 150px;
        margin: 5px auto;
        padding: 5px 0; }
      .projecte-contingut .bloc .dadaproject .titol {
        color: steelblue; }
    .projecte-contingut .bloc #dataLimit {
      float: right;
      margin: 40px 0 60px 0; }
      .projecte-contingut .bloc #dataLimit span {
        color: darkred; }
    .projecte-contingut .bloc .percentatgeTemps {
      width: 250px;
      background-color: #f7e0c0;
      height: 30px;
      float: left;
      position: relative;
      margin: 70px 0 80px 10px;
      border-left: 5px solid rgba(70, 130, 180, 0.8);
      border-right: 5px solid rgba(70, 130, 180, 0.8); }
      .projecte-contingut .bloc .percentatgeTemps .tick {
        position: absolute;
        display: block;
        background-color: rgba(70, 130, 180, 0.3);
        height: 20px;
        top: 5px;
        width: 7px;
        margin-left: 2px; }
      .projecte-contingut .bloc .percentatgeTemps .end {
        position: absolute;
        display: block;
        background-color: rgba(70, 130, 180, 0.8);
        height: 28px;
        top: 1px;
        width: 8px;
        left: 2px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        background-clip: padding-box; }
      .projecte-contingut .bloc .percentatgeTemps .percent {
        position: absolute;
        display: block;
        color: rgba(70, 130, 180, 0.8);
        top: 8px;
        left: 20px; }
    .projecte-contingut .bloc .dadesHores {
      margin: 30px 0 15px 20px;
      border-bottom: 1px solid #dfdfdf;
      padding: 1px 20px;
      display: block;
      clear: both; }
      .projecte-contingut .bloc .dadesHores:after {
        content: '';
        display: block;
        clear: both; }
      .projecte-contingut .bloc .dadesHores label, .projecte-contingut .bloc .dadesHores span {
        color: #999;
        float: left; }
      .projecte-contingut .bloc .dadesHores span {
        float: right;
        color: steelblue; }
    .projecte-contingut .bloc .projeccio span {
      color: #be0000; }
