@import 'mixins.scss';

//BLOC DE FEINA I SUBBLOCS
.feina-contingut {
	width: 95%;
	min-height: 600px;
	margin: 60px 2.5%;
	background-color: antiquewhite;
	@include box-shadow(4px, 0px, 6px, #333);
	
	.feina-sub {
		width: 50%;
		min-height: 600px;
		float: left;
		position: relative;
		
		.feina-sub-titol {
			background-color: yellowgreen;
			display: block;
			margin: 0;
			padding: 5px 0;
			text-indent: 10px;
			width: 100%;
			font-size: 14pt;
			border-bottom: 1px solid yellowgreen;
			
			b {
				color: ivory;
				float: right;
				margin-right: 20px;
				font-size: 12pt;
				margin-top: 2px;
			}
		}
	}
}


.feina-sub.sub1 {
	background-image: url(../images/corner1.png);
	@include background-image(no-repeat, 40px 40px, left bottom);
}





//RELLOTGE
.rellotge {
	width: 462px;
	height: 80px;
	background-color: darken(antiquewhite, 5%);
	margin: 10px 70px 20px;
	position: relative;
	overflow: auto;
	
	label {
		float: left;
		width: 20px;
		height: 17px;
		font-size: 10pt;
		padding-top: 3px;
		margin: 5px 0 0 5px;
		display: block;
		text-align: center;
		line-height: 15px;
		color: ivory;
		@include border-radius(50%);
	}
	
	.segons-label {
		background-color: yellowgreen;
	}
	.minuts-label {
		background-color: darkred;
	}
	.hores-label {
		background-color: steelblue;
	}
	
	.agulla {
		width: 428px;
		height: 20px;
		float: left;
		margin: 5px 0 0;
		position: relative;
		border-right: 5px solid yellowgreen;
		@include border-radius(3px);
		
		.tick {
			position: absolute;
			height: 18px;
			width: 6px;
			background-color: yellowgreen;
			top: 1px;
			opacity: .3;
		}
		
		.min {
			background-color: darkred;
		}
		
		.hor {
			background-color: steelblue;
		}
		
		.end {
			position: absolute;
			width: 5px;
			background-color: yellowgreen;
			height: 20px;
			top: 0;
			left: 7px;
			@include border-radius(20px);
		}
	}
	
	.minuts {
		border-color: darkred;
		
		.end { background-color: darkred; }
	}
	
	.hores {
		border-color: steelblue;
		
		.end { background-color: steelblue; }
	}
}





//BLOC NOVA FEINA
#nova-feina {
	
	input {
		text-align: center;
		-webkit-appearance: none;
		font-size: 13pt;
		box-shadow: none;
		border: none;
	}
	
	.data {
		width: 120px;
		margin: 20px auto;
		display: block;
	}
	
	textarea {
		width: 80%;
		height: 150px;
		border: none;
		margin: 50px auto 0;
		padding: 0 10px;
		font-size: 12pt;
		line-height: 25px;
		display: block;
		resize: none;
		//Linies de fons
		background-image: -webkit-linear-gradient(antiquewhite 95%, lighten(#a0a0a0, 5%) 100%); 
		@include background-image(repeat-y, 100% 25px, 0 0);
		
		&::-webkit-input-placeholder {
			color: darkred;
   		}
	}
	
	.time {
		width: 128px;
		display: block;
		margin: 20px auto 0;
		
		label {
			font-size: 20pt;
			color: #c0c0c0;
		}
	
		input {
			width: 30px;
			font-size: 20pt;
			background-color: transparent;
			color: #b0b0b0;
		}
	}
	
	.time.running {
		label, input {
			color: lighten(yellowgreen, 5%);
		}
	}
	
	.time.paused {
		label, input {
			color: lighten(darkred, 10%);
		}
	}
	
	
	//Botons rellotge
	.timer-button {
		width: 40px;
		height: 40px;
		display: block;
		margin: auto;
		float: left;
		border: 1px solid rgba(yellowgreen, .8);
		background-color: rgba(yellowgreen, .1);
		color: darken(yellowgreen, 5%);
		margin-bottom: 60px;
		cursor: pointer;
		opacity: .5;
		background-image: url(../images/play.png);
		@include background-image(no-repeat, auto 50%, center center);
		@include border-radius(50%);
		
		&:focus {
			outline: 0;
		}
		
		&:hover {
			opacity: 1;
		}
	}
	
	.timer-button#stop {
		border-color: rgba(darkred, .3);
		background-color: rgba(darkred, .1);
		color: darken(darkred, 0%);
		margin-left: 30px;
		background-image: url(../images/pause.png);
	}
	
	.timer-button#start {
		margin-left: 250px;
	}
	
	.timer-button.reset#stop {
		border-color: rgba(black, .5);
		background-color: rgba(black, .1);
		color: #666;
		background-image: url(../images/stop.png);
	}
	
	
	
	//Boto form
	.boto-form {
		-webkit-appearance: none;
		width: 60px;
		height: 60px;
		margin: 50px auto 0;
		display: block;
		border: 1px solid rgba(steelblue, .5);
		color: steelblue;
		font-size: 12pt;
		background-color: rgba(steelblue, .1);
		background-image: url(../images/save.png);
		opacity: .5;
		@include background-image(no-repeat, auto 35px, center 8px);
		@include border-radius(50%);
		
		&:hover {
			opacity: 1;
		}
	}
}





//Taula feina
.feina-sub.sub2 {
	position: relative;
	
	.feina-sub-titol {
		color: yellowgreen;
		background-color: transparent;
	}
	
	.fixedtable {
		width: 90%;
		min-height: 0;
		height: 540px;
		overflow-y: scroll;
		position: relative;
		margin: 10px auto;
		position: relative;
		
		.scrollbody {
			height: 90%;
			overflow-y: scroll;
		}
		
		table {
			width: 100%;
			border-collapse: collapse;
		
			td {
				height: 40px;
				border-bottom: 1px solid #e0e0e0;
				border-top: none;
				vertical-align: bottom;
				font-size: 13pt;
				text-align: center;
				color: #999;
			}
			
			.data {
				width: 200px;	
			}
			
			.comen {
				width: 80px;
				color: transparent;
				overflow: hidden;
				
				p {
					display: none;
				}
				
				
				.coment-icon {
					display: block;
					width: 30px;
					height: 30px;
					cursor: pointer;
					background-image: url(../images/comment-green.png);
					@include background-image(no-repeat, 100% 100%, 0 0);	
				}
			}
			
			.seleccionada {
				td {
					color: lighten(steelblue, 20%);
				}
				
				.comen {
					.coment-icon {
						background-image: url(../images/comment-blue.png);
					}
				}
			}
			
			.no-comen {
				.coment-icon {
					background-image: url(../images/comment-red.png);
				}
			}
		}
	}
	
	.total {
		position: fixed;
		bottom: 50px;
		width: 550px;
		
		table {
			width: 100%;
		}
		
		table td {
			color: #666;
			border-top: 1px solid #d0d0d0;
			border-bottom: none;
			vertical-align: middle;
			height: 65px;
		}
		
		table .comen {
			background-color: transparent;
			width: 80px;
						
			.coment-icon-blank, .coment-icon-green, .coment-icon-red {
				display: block;
				width: 30px;
				height: 30px;
				@include background-image(no-repeat, 100% 100%, 0 0);
			}
			
			.coment-icon-blank {
				background-image: url(../images/comment-blank.png);
			}
			
			.coment-icon-green {
				background-image: url(../images/comment-green.png);
			}
			
			.coment-icon-red {
				background-image: url(../images/comment-red.png);
			}
		}
	}
	
	
	//comentari
	.popupcomment {
		position: absolute;
		width: 320px;
		height: 200px;
		background-color: ivory;
		top: 180px;
		left: 120px;
		display: none;
		padding: 10px;
		border: 1px solid yellowgreen;
		@include border-radius(10px);
	}
	
}