@import 'mixins.scss';

* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

html {
	min-height: 100%;
	//font-family: helvetica;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

body {
	overflow: auto;
	background-image: url(../images/cork.jpg);
	@include background-image(repeat-y, 100% auto, 0 0);
}

.button {
	width: 23px;
	height: 23px;
	background-color: black;
	border: 2px solid darkred;
	color: darkred;
	display: block;
	text-align: center;
	line-height: 18px;
	font-size: 23pt;
	cursor: pointer;
	@include border-radius(50%);
}




//Menu superior
.menu-superior {
	width: 100%;
	height: 35px;
	background-color: black;
	border-bottom: 5px solid darkred;
	position: fixed;
	top: 0;
	z-index: 10;
	
	.titol-projecte {
		color: ivory;
		line-height: 35px;
		margin: 0 0 0 40px;
		font-size: 14pt;
		font-weight: 100;
		letter-spacing: 1pt;
		width: 150px;
		display: block;
		text-decoration: none;
	}

	.fletxa {
		position: absolute;
		top: 12px;
		left: 10px;
	}
	
	
	//Selector de projectes
	.selector {
		display: none;
		position: relative;
		margin-top: 5px;
		margin-left: 40px;
		
		li {
			width: 140px;
			padding: 10px 0 10px 10px;
			background-color: #c0c0c0;
			border-bottom: 1px solid #999;
			z-index: 2;
			
			a {
				text-decoration: none;
				color: black;
				width: 100%;
				height: 100%;
				display: block;
			}
			
			&:hover {
				background-color: #999;
				
				a {
					color: ivory;
				}
			}
		}
	}
	
	//Afegir projecte
	#nova-feina {
		position: absolute;
		right: 15px;
		top: 4px;
		text-decoration: none;
	}
}




//Tasques
.tasques {
	width: 900px;
	float: left;
	margin: 50px 0 50px 20px;
	z-index: 1;
	position: relative;
	transition: all 1s ease;
	z-index: 1;
	@include responsive(1200) {
		width: 700px;
	}
	@include responsive(1000) {
		width: 450px;
	}
	@include responsive(800) {
		width: 60%;
		margin: 35px 0 0 0;
	}
	@include responsive(500) {
		width: 100%;
		height: 45%;
		overflow-y: scroll;
		position: fixed;
		
	}
	
	.tasca {
		float: left;
		position: relative;
		width: 200px;
		height: 129px;
		margin: 10px;
		margin-right: 5px;
		background-color: ANTIQUEWHITE;
		background-image: -webkit-linear-gradient(antiquewhite 96%, lighten(#a0a0a0, 5%) 100%); 
		@include background-image(repeat-y, 100% 20px, 0 -11px);
		user-select: none;
		z-index: 1;
		overflow: hidden;
		@include border-radius(2px);
		@include box-shadow(3px, 1px, 6px, #555);
		@include responsive(800) {
			width: 100%;
			margin: 0px 0 0 0;
			height: 40px;
			box-shadow: none;
			border-radius: 0;
			border-bottom: 1px solid #cfcfcf;
		}
		
		.tasca-titol {
			display: block;
			margin-bottom: 5px;
			width: 96%;
			padding: 5px 2%;
			background-color: antiquewhite;
			border-bottom: 2px solid darkred;
			user-select: none;
			cursor: pointer;
			@include responsive(800) {
				height: 30px;
				line-height: 30px;
			}
		}
		
		.tasca-descr {
			font-size: 10pt;
			text-align: left;
			line-height: 15pt;
			margin: 0px 5px 5px;
			user-select: none;
			@include responsive(800) {
				display: none;
			}
		}
	}
	
	.seleccionada {
		outline: 5px solid rgba(steelblue, .8);
	}
	
	.Acabada .tasca-titol {
		text-decoration: line-through;
		color: darkred;
	}
	
	.Inactiva {
		opacity: .7;
	}
	
	
	.urgent .tasca-titol {
		background-color: rgba(yellowgreen, .8);
		border-bottom-color: darken(yellowgreen, 20%);
	}
	
	.molturgent .tasca-titol {
		background-color: rgba(orange, .8);
		border-bottom-color: darken(orange, 10%);	
	}
}

.tasques.feina-hidden {
	width: 1100px;
	@include responsive(1200) {
		width: 900px;
	}
	@include responsive(1000) {
		width: 650px;
	}
	@include responsive(800) {
		width: 60%;
		margin: 35px 0 0 0;
	}
	@include responsive(500) {
		width: 100%;
		height: 100%;
	}
}


//Fitxa tasca - Feina
.feina {
	float: right;
	width: 300px;
	margin: 60px 0 50px 0;
	padding: 0;
	background-color: darken(antiquewhite, 10%);
	min-height: 525px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	position: relative;
	z-index: 1;
	transition: all 1s ease;
	@include box-shadow(3px, 1px, 6px, #555);
	//@include border-radius(10px);
	//background-image: url(../cork-feina.png);
	@include responsive(800) {
		width: 40%;
		margin: 35px 0 0;
		min-height: 100%;
		height: 1000px;
		position: fixed;
		right: 0;
	}
	@include responsive(500) {
		height: 50%;
		min-height: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		margin: 0;
		right: auto;
	}
	
	* {
		display: block;
		transition: width 1s ease;
	}	
	
	input, label, select {
		width: 100%;
	}
	
	#feina-sidebar {
		height: 525px;
		width: 30px;
		background-color: darken(steelblue, 0%);
		float: left;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		position: relative;
		opacity: .8;
		cursor: pointer;
		@include responsive(800) {
			height: 100%;
		}
		@include responsive(500) {
			height: 20px;
			width: 100%;
			float: none;
			display: block;
		}
		
		&:hover {
			opacity: 1;
		}
	}
	
	form {
		width: 220px;
		float: right;
		margin-right: 25px;
		margin-top: 5px;
		@include responsive(800) {
			margin-top: 10px;
		}
		@include responsive(500) {
			//height: 20px;
			width: 90%;
			float: none;
			margin: 0 auto;
			position: relative;
		}
	}
	
	.feina-titol {
		width: 100%;
		box-sizing: border-box;
		font-size: 18pt;
		font-family: helvetica;
		font-weight: 100;
		color: black;
		background-color: transparent;
		border: none;
		border-bottom: 2px solid darkred;
		text-indent: 5px;
		
		&::-webkit-input-placeholder {
			color: black;
   		}	
	}
	
	.feina-descr {
		width: 100%;
		height: 100px;
		box-sizing: border-box;
		margin: 20px 0;
		background-color: darken(antiquewhite, 20%);
		//border: 1px solid #a0a0a0;
		border: none;
		font-size: 12pt;
		font-weight: 100;
		resize: none;
		text-indent: 5px;
		
		&::-webkit-input-placeholder {
			color: darkred;
   		}
	}
	
	label {
		font-weight: 100;
		display: block;	
		font-size: 13pt;
		color: black;
		@include responsive(500) {
			width: 45%;
			//float: left;
			display: inline-block;
		}
	}
	
	select {
		-webkit-appearance: none;
		width: 100%;
		font-size: 13pt;
		font-weight: 100;
		min-height: 30px;
		text-indent: 5px;
		background-color: darken(antiquewhite, 20%);
		margin-bottom: 15px;
		border-radius: 0;
		border: none;
		background-image: url(../images/dropdown.png);
		color: darkred;
		@include background-image(no-repeat, 15px 12px, 190px center);
		@include responsive(500) {
			width: 45%;
			background-position: 90% center;
			float: left;			
		}
	}
	
	.floater {
		text-align: center;
		margin-top: 20px;
		line-height: 25px;
	}
	
	#datalimit {
		width: 100%;
		height: 30px;
		margin: 0 0 20px 0px;
		font-size: 12pt;
		text-align: center;
		background-color: darken(antiquewhite, 20%);
		//border: 1px solid #a0a0a0;
		border: none;
	}
	
	
	
	
	//Butons
	.buttonform {
		width: 50px;
		height: 50px;
		-webkit-appearance: none;
		border: none;
		color: yellowgreen;
		font-size: 40px;
		line-height: 0px;
		padding: 0;
		border: 1px solid rgba(steelblue, .8);
		background-color: rgba(steelblue, .1);
		cursor: pointer;
		opacity: .6;
		background-image: url(../images/save.png);
		@include background-image(no-repeat, auto 80%, center center);
		@include border-radius(50%);
		
		&:hover {
			opacity: 1;
		}
	}
	
	.one {
		margin: 0px 0 0 80px;
	}
	
		
	.two-one {
		margin-left: 40px;
		float: left;
		background-image: url(../images/update.png);
		@include background-image(no-repeat, auto 80%, center center);
	}
		
	.two-two {
		margin-top: 0px;
		margin-right: 40px;
		float: right;
		border: 1px solid rgba(darkred, .5);
		background-color: rgba(darkred, .1);
		background-image: url(../images/bin-red.png);
		@include background-image(no-repeat, auto 70%, center center);
	}
	
}

.feina.hidden {
	//right: -270px;
	width: 35px;
	overflow: hidden;
	@include responsive(800) {
		width: 40%;
		margin: 35px 0 0;
		min-height: 100%;
		height: 1000px;
		position: fixed;
		right: 0;
	}
	@include responsive(500) {
		width: 100%;
		margin: 0;
		bottom: 30px;
		height: 30px;
		min-height: 0;
	}
	
	* {
		display: none;
		//width: 0;
		//margin: 0;
		transition: width 1s ease;
		@include responsive(800) {
			display: block;
			
		}
	}
	

	
	#feina-sidebar {
		display: block;
		width: 30px;
		
		@include responsive(500) {
			height: 20px;
			width: 100%;
			float: none;
			display: block;
		}
	}
}





//Filtres
.filtres {
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: darken(antiquewhite, 10%);
	//border-top: 1px solid darkred;
	
	label {
		color: black;
		line-height: 30px;
		font-weight: 100;
		margin-left: 22px;
		margin-right: 0px;
		font-size: 11pt;
		display: block;
		float: left;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	input {
		float: left;
	}
	
	.filtres-subs {
		//color: steelblue;
	}
	
	.filtres-prior {
		//color: yellowgreen;
	}
	
	.filtres-est {
		//color: orange;
	}
	
	#filtres {
		width: 100%;
		height: 30px;
	}
	
	.exclusiva {
		text-decoration: underline;
	}
	
	//Checkboxes
	.checker {
		width: 16px;
		height: 16px;
		//background-color: white;
		position: relative;
		float: left;
		
		label {
			width: 16px;
			height: 16px;
			//background-color: rgba(yellowgreen, .5);
			position: absolute;
			top: 8px;
			left: 8px;
			display: block;
			margin: 0;
			cursor: pointer;
			border: 1px solid rgba(darkred, .4);
			@include border-radius(50%);
			
			&:after {
				//content: '✔';
				position: absolute;
				display: block;
				top: 0px;
				left: 0px;
				content: '';
				width: 15px;
				height: 15px;
				color: yellowgreen;
				background-image: url(../images/tick-red.png);
				@include background-image(no-repeat, 80% 80%, center center);
			}
		}
		
		input {
			display: none;
		}
		
		input[type="checkbox"]:checked + label:after {
			opacity: 1;
		}
		
		.unchecked:after {
			opacity: .3;
			//content: '';
		}
				
	}
	
			
	.checker-subs label {
		border-color: rgba(orangered, .5);
		
		&:after {
			background-image: url(../images/tick-orange.png);
		}
	}
	
	.checker-est label {
		border-color: rgba(steelblue, .7);
		
		&:after {
			background-image: url(../images/tick-blue.png);
		}
	}
}







[draggable=true] {
  -khtml-user-drag: element;
}

//Paperera 
#paperera {
	position: fixed;
	bottom: 44px;
	left: 30px;
	width: 40px;
	height: 80px;
	z-index: 2000;
	//background-color: darkred;
	background-image: url(../images/bin.png);
	@include background-image(no-repeat, 100% 50px, center bottom);
	
	&:hover {
		background-image: url(../images/bin-open.png);
	}
}